[package]
name = "con_server"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "server"
path = "./src/server.rs"

[[bin]]
name = "client"
path = "./src/client.rs"


[dependencies]
crossterm = "0.29.0"
